/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-04-2020, 16:44:49
    Author     : Francisca
*/

.generalcontainer {
    margin: 2rem;
}

.subtitle {
    padding-bottom: 2rem;
}

.buttoncontainer {
    text-align: center;
    margin: 2rem;
}

.inputcontainer {
    margin: 2rem;
}

.salidacontainer {
    padding: 2rem;
}

.box {
    margin: 2rem;
}